@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;

  --text-primary: #171717;
  --text-secondary: #444444;
  --text-muted: #666666;

  --surface: #ffffff;
  --border: #e2e2e2;

  --field-bg: #ffffff;
  --field-border: #cccccc;
  --field-text: #171717;
  --field-placeholder: #888888;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-primary: #ededed;
  --text-secondary: #bbbbbb;
  --text-muted: #888888;
  --surface: #121212;
  --border: #2c2c2c;
  --field-bg: #1a1a1a;
  --field-border: #444444;
  --field-text: #ededed;
  --field-placeholder: #999999;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
